.about {
  padding: 2rem 10px;
  text-align: center;
  justify-content: center;
  background-color:#edf3fa;
  
}

.about h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #011940,#7d04ff, #00aeff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #011940;
}

.about button{
  width: 200px;
  margin-top: 2rem;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #041236;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
.about button:hover{
  transition: background-color 2s;
  border-radius: 19px;
  font-size: 1.6rem;
}