.pricing-page{
  background-color: #c0dbf8;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;

}
/* pricing.css */

/* Navbar styles */
.navbar {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.title {
  margin: 0;
}

/* Pricing cards styles */
.pricing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.pricing-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.pricing-card h2 {
  color: #333;
}

.pricing-card h3 {
  color: #007bff;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style-type: none;
  padding: 0;
}

.pricing-card ul li {
  margin-bottom: 10px;
}

.get-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-button:hover {
  background-color: #0056b3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .pricing-cards {
    flex-direction: column;
  }

  .pricing-card {
    width: 100%;
  }

}
